.os-block {
  background-color: #f2f2f2;
}

.os-block__title {
  margin-bottom: 37px;
}

.os-block__list {
  margin: 0;
  padding: 0 22px 0 21px;
  list-style: none;
}

.os-block__item {
  margin-bottom: 38px;
}
