.page-title {
  padding: 28px 0 77px;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans Light", Arial, sans-serif;
  z-index: -1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -70px;
    background: $black url("../img/back-mobile.jpg") no-repeat top left;
    width: 100%;
    height: calc(100% + 70px);
    min-height: 462px;
    z-index: 1;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.jpg");
    }
  }
}

.page-title__container {
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

@media (min-width: $tablet) {
  .page-title {
    padding: 70px 0 130px;
    &::before {
      top: -106px;
      min-height: 660px;
      background: $black url("../img/back-tablet.jpg") no-repeat top left;
      background-size: cover;
      @media (min-resolution: 2dppx) {
        background-image: url("../img/back-tablet@2x.jpg");
      }
    }
  }

  .page-title__container {
    width: 400px;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop) {
}
