.price-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 40px;
  transition: 2s all;
  margin-left: calc(-1 * (100vw - 21px) + 39px);
}

.price-list__item {
  position: relative;
  width: calc(100vw - 40px);
  &:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
    height: 74px;
    background: url("../img/hit-mobile.png") no-repeat;
  }
}

@media (min-width: $tablet) {
  .price-list {
    width: 465px;
    margin: 0;
  }
  .price-list__item {
    &:nth-child(2)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 61px;
      height: 61px;
      background: url("../img/hit-tablet.png") no-repeat;
    }
  }
}
